<!DOCTYPE html>
<head>
<style type="text/css">
  .draftList { list-style:none; }
  .draft .name { margin-left:-30px; font-weight:bold; }
  .teams { margin:20px 0; border:1px solid #333; }
  .teams td, .teams th { padding:5px; border-right:1px solid #333; border-bottom:1px solid #333; }
  .teams td:last-child, .teams th:last-child { border-right-width:0; }
  .teams tr:last-child td { border-bottom-width:0; }

  .info { margin-left:50px; }
</style>
<title>{% block title %}Fantasy Football Drafting API{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
