{% extends "draftHost/base.html" %}

{% block content %}

<ul class="draftList">
  <li>{% include 'draftHost/draft_info.html' %}</li>
</ul>

{% include 'draftHost/detail_ajax.html' %}

<div id="TWITTER">
  <a class="twitter-timeline" href="https://twitter.com/hashtag/autodraft2015" data-widget-id="494962106014253056">#autodraft2015 Tweets</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

{% endblock %}
