{% extends "draftHost/base.html" %}

{% block content %}

<h1>Active Drafts</h1>

<ul class="draftList">
{% for draft in drafts %}
<li>
  <div class="draft">
    <div>
      <span class="name">{{ draft.name }}</span>
      <span class="admin"> - run by {{ draft.admin }}</span>
      <a href="{% url 'draftHost:draft_id' draft.id %}">JSON Link</a>
    </div>
    <div class="details">
      <div>Roster: {{ draft.roster.description }} ({{ draft.roster.slots }} slots)</div>
      <div>
        <span>Draft starts at {{ draft.draft_start.str }},</span>
        <span>{{ draft.time_per_pick_s }} seconds / pick</span>
      </div>
    </div>
  </div>

  <div>Current teams ({{ draft.teams|length }} / {{ draft.team_limit }}):</div>

  <table class="teams">
    <tr>
      <th>Team</th>
      <th>Manager</th>
      <th>API Link</th>
    </tr>
    {% for team in draft.teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.email }}</td>
      <td><a href="{% url 'draftHost:team_id' team.id %}">JSON Link</a></td>
    </tr>
    {% endfor %}

    {% if draft.teams|length < draft.team_limit %}
    <tr>
      <td>
        <span>Spots still open for this draft -- </span>
        <a href="{% url 'draftHost:register' draft.id %}">Register Here</a>
      </td>
    </tr>
    {% endif %}
  </table>
</li>
{% endfor %}
</ul>

<h2>No drafts with open spots?</h2>

<p>TODO contact info here</p>

{% endblock %}
