<p>All the following require a valid key parameter</p>

<table class="calls">
  <tr>
    <th>What</th>
    <th>URL pattern</th>
    <th>Returns</th>
  <tr>
  <tr>
    <td>Draft info:</td>
    <td><a href="{% url 'draftHost:api:draft' %}">{% url 'draftHost:api:draft' %}</a></td>
    <td>Draft information, teams, picks</td>
  </tr>
  <tr>
    <td>Draft picks & selections:</td>
    <td><a href="{% url 'draftHost:api:picks' %}">{% url 'draftHost:api:picks' %}</a></td>
    <td>picks & selections</td>
  </tr>
  <tr>
    <td>Make a pick:</td>
    <td><a href="{% url 'draftHost:api:make_pick' 4 %}">{% url 'draftHost:api:make_pick' 4 %}</a></td>
    <td>{code -> http status code, success -> True or missing, message -> human readable state, selection -> fantasy selection object }</td>
  </tr>
  <tr>
    <td>Player status in your draft:</td>
    <td><a href="{% url 'draftHost:api:player_status' 5 %}">{% url 'draftHost:api:player_status' 5 %}</a></td>
    <td>Returns the player object, including fantasy team if he's been picked</td>
  </tr>

</table>
