<p>All the following require a valid key parameter</p>

<table class="calls">
  <tr>
    <th>What</th>
    <th>URL pattern</th>
    <th>Returns</th>
  <tr>
  <tr>
    <td>Draft info:</td><td>/draft/</td><td>Draft information, teams, picks</td>
  </tr>
  <tr>
    <td>Draft picks & selections:<td>/picks/<td>picks & selections</td>
  </tr>
  <tr>
    <td>Make a pick:<td>/picks/make/<b>{pick id}</b>/player/<b>{player id}</b><td>TODO</td>
  </tr>
  <tr>
    <td>Player status in your draft:<td>/player/<b>{id}</b>/status/<td>Returns the player object, including fantasy team if he's been picked</td>
  </tr>

</table>
