<div class="draft">
  <div>
    <span class="name">{{ draft.name }}</span>
    <span class="admin"> - run by {{ draft.admin }}</span>
    <a href="{% url 'draftHost:api:draft_id' draft.id %}">JSON Link</a>
  </div>
  <div class="details">
    <div><a href="{% url 'draftHost:draft' draft.id %}">Detail page</a></div>
    <div><a href="{% url 'draftHost:results' draft.id %}">Draft results by team</a></div>
    <div>Roster: {{ draft.roster.description }} ({{ draft.roster.slots }} slots)</div>
    <div>
      <span>
      {% if draft.active %}
        Draft starts at
      {% else %}
        Draft started at
      {% endif %}
      {{ draft.draft_start.str }}
      </span>
      {% if draft.active %}
        <span style="font-weight: 700">
          (in {{ draft.draft_start.relative }})
        </span>
      {% endif %}
    </div>
    <div>{{ draft.time_per_pick_s }} seconds / pick</div>
  </div>
</div>
