{% extends "draftHost/base.html" %}

{% block content %}

<h1>Drafts</h1>

<ul class="draftList">
{% for draft in drafts %}
<li>
  {% include 'draftHost/draft_info.html' %}

  <div>Current teams ({{ draft.teams|length }} / {{ draft.team_limit }}):</div>

  <table class="teams">
    <tr>
      <th>Team</th>
      <th>Manager</th>
      <th>API Link</th>
    </tr>
    {% for team in draft.teams %}
    <tr class="{% cycle 'white' 'grey' %}">
      <td>{{ team.name }}</td>
      <td>{{ team.email }}</td>
      <td><a href="{% url 'draftHost:api:team_id' team.id %}">JSON Link</a></td>
    </tr>
    {% endfor %}

    {% if draft.registration %}
    <tr>
      <td>
        <span>Spots still open for this draft -- Register below:</span>
      </td>
    </tr>
    <tr>
      {% include 'draftHost/reg_form.html' %}
    </tr>
    {% endif %}
  </table>
</li>
{% endfor %}
</ul>

<h2>No drafts with open spots?</h2>

<p>TODO contact info here</p>

{% endblock %}
