{% extends "draftHost/base.html" %}

{% block content %}

<h1>Drafts</h1>

{% if error %}
  <h2 style="color:red">Oops! Looks like you entered an invalid password!</h2>
{% endif %}

<ul class="draftList">
{% for draft in drafts %}
<li>
  {% include 'draftHost/draft_info.html' %}

  <div>Current teams ({{ draft.teams|length }} / {{ draft.team_limit }}):</div>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Team</th>
      <th>Manager</th>
      <th>API Link</th>
    </tr>
    {% for team in draft.teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.email }}</td>
      <td><a href="{% url 'draftHost:api:team_id' team.id %}">JSON Link</a></td>
    </tr>
    {% endfor %}

    {% if draft.registration %}
    <tr>
      <td>
        <span>Spots still open for this draft -- Register below:</span>
      </td>
      <td><td>
    </tr>
    <tr>
      {% include 'draftHost/reg_form.html' %}
    </tr>
    {% endif %}
  </table>
</li>
{% endfor %}
</ul>

<h2>No drafts with open spots?</h2>

{% if team_name %}
  <p><a href="{% url 'draftHost:mock_draft' %}">Try a mock draft!</a> Available to everybody who's registered for an upcoming draft</p>
{% else %}
  <p>Try a mock draft! Available to everybody who's registered for an upcoming draft</p>
{% endif %}

{% endblock %}
