{% extends "draftHost/base.html" %}

{% block content %}

<h1>Mock draft setup page</h1>

<p>Create a mock draft to test your drafting bot ahead of time. After
you create the draft, you'll be redirected to a team signup page. On
that page you'll find a new API key for accessing the mock draft - use
the new key instead of your real key to make picks in the mock
draft.</p>

<p>Currently, the other teams in your mock draft will wait out their
picks without choosing any players.</p>

{% include 'draftHost/mock_draft_form.html' %}

{% endblock %}
