{% for p in picks %}
{% if forloop.first %}
<h3>Upcoming picks:</h3>

<table class="table table-bordered table-striped">
  <tr>
    <th>Pick</th>
    <th>Owner</th>
    <th>Starts in</th>
    <th>Expires</th>
  </tr>
{% endif %}

  <tr class="{% if p.active %} active{% endif %}">
    <td>{{ p.pick_number }}</td>
    <td>{{ p.team.name }}</td>

    {% if p.active %}
      <td>Active now!</td>
      <td>{{ p.expires.relative }}</td>
    {% else %}
      <td>{{ p.starts.relative }}</td>
      <td>{{ p.expires.str }}</td>
    {% endif %}
  </tr>

{% if forloop.last %}
  </table>
{% endif %}
{% endfor %}
