<form class="register" method="post" action="{% url 'draftHost:register' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <input type="hidden" name="draft_id" value="{{ draft.id }}"/>

  <td class="fieldWrapper">
    {{ draft.registration.name.errors }}
    <label for="name">Team name:</label>
    {{ draft.registration.name }}
  </td>

  <td class="fieldWrapper">
    {{ draft.registration.email.errors }}
    <label for="email">Email:</label>
    {{ draft.registration.email }}
  </td>

  <td>
    {% if draft.registration.has_password %}
      {{ draft.registration.password.errors }}
      <label for="password">Draft Password</label>
      {{ draft.registration.password }}
    {% endif %}
    <input type="submit" value="Register"/>
  </td>
</form>
