{% for s in selections %}
{% if forloop.first %}
<table class="selections table table-bordered table-striped">
  <tr>
    <th>Pick</th>
    <th>Player</th>
    <th>Position</th>
    <th>Picked by</th>
    <th>At</th>
  </tr>
{% endif %}

  <tr>
    <td>{{ s.draft_pick.pick_number }}</td>
    <td>{{ s.player.first_name }} {{ s.player.last_name }}</td>
    <td>{{ s.player.fantasy_position }}</td>
    <td>{{ s.team.name }}</td>
    <td>{{ s.when.str }}</td>
  </tr>

{% if forloop.last %}
  </table>
{% endif %}

{% empty %}
  <div>None yet!</div>
{% endfor %}
