<ul style="list-style:none;">
  <li>Player by id: /player/<b>{id}</b> - returns a player object</li>
  <li>Player search: /search/<b>{query}</b> - returns a list of matching players. For best results query should be the last name of a player</li>
  <li>Team by id: /team/<b>{id}</b> or /team/<b>{name}</b> - returns info about another fantasy team</li>

  <li>All NFL Teams: /nfl/teams/</li>
  <li>Players on a specific team: /nfl/team/<b>{id}</b>/players/</li>
  <li>NFL Conferences: /nfl/conferences</li>
  <li>NFL Divisions: /nfl/divisions</li>
</ul>
