<table class="calls">
  <tr>
    <th>What</th>
    <th>URL pattern</th>
    <th>Returns</th>
  <tr>
  <tr>
    <td>Player by id:<td>/player/<b>{id}</b><td>returns a player object
  </tr>
  <tr>
    <td>Player search:<td>/search/<b>{query}</b><td>returns a list of matching players. For best results query should be the last name of a player
  </tr>
  <tr>
    <td>Team by id:<td>/team/<b>{id}</b> or /team/<b>{name}</b><td>returns info about another fantasy team
  </tr>
  <tr>
    <td>All NFL Teams:<td>/nfl/teams/<td>{teams: [list of teams]}
  </tr>
  <tr>
    <td>Players on a specific NFL team:<td>/nfl/team/<b>{id}</b>/players/<td>NFL Team object with extra field "players"
  </tr>
  <tr>
    <td>Players on a fantasy team:<td>/team/<b>{id}</b>/players<td>Returns a list of player objects</td>
  </tr>
  <tr>
    <td>NFL Conferences:<td>/nfl/conferences<td>{divisions: [list of divisions]}
  </tr>
  <tr>
    <td>NFL Divisions:<td>/nfl/divisions<td>{conferences: [list of conferences]}
  </tr>
</table>
