{% extends "draftHost/base.html" %}

{% block content %}

<h1>"{{ team.name }}" info page</h1>

<p>Welcome! You've successfully registered your team. Bookmark this page, as it is the only record of your authentication key that you will receive.</p>

<p>You must include your authentication key (<b>{{ team.auth_key }}</b>) as a URL param in any draft-dependent requests you make. For example, to query the current state of the draft you would use:
{% include "draftHost/ex_link.html" with path="draftHost:api:draft" key=team.auth_key %} or to see info on picks/selections so far you'd hit
{% include "draftHost/ex_link.html" with path="draftHost:api:picks" key=team.auth_key %} picks have been assigned and selections have been made. Picks will be assigned once your draft has filled up with registered teams.</p>

<p>Once picks have been assigned, each pick will include a start and expires UTC timestamp. It's your responsibility to make your pick in the correct time window. You can make a pick by POSTing to a URL of the format: <i>/picks/make/<b>{pick id from the object}</b>/player/<b>{player id}</b>?key={your key}</i>. </p>

<p>Most non-context-dependent requests can be made without including your key:</p>

{% include "draftHost/static_calls.html" %}

<p>Good luck and happy drafting! Send any feature requests / bugs to the <a href="https://github.com/gnmerritt/autodraft">GitHub page</a>. Pull requests welcome!</p>

<h2>Your team:</h2>

<div class="info">
  <ul>
    <li>Name: {{ team.name }}</li>
    <li>Email: {{ team.email }}</li>
    <li>Auth Key: {{ team.auth_key }}</li>
    <li><a href="{% url 'draftHost:api:team_id' team.id %}">JSON Link</a></li>
  </ul>
</div>

<h2>Registered in Draft:</h2>

<div class="info">
  {% include 'draftHost/draft_info.html' %}
</div>

{% endblock %}
